<div class="flex items-center justify-between mt-20">
  <div *ngIf="page !== 0" class="hidden md:block">
    <button
      class="border-3 border-yellow-300 inline-block w-10 h-10 focus:outline-none flex justify-center items-center">
      <span class="icon-arrow-left text-3xl"></span>
    </button>
  </div>
  <div class="grid grid-cols-1 gap-10 md:gap-4 px-4" [ngClass]="gridClass">
    <app-video *ngFor="let item of videos; let i = index"
               [order]="i"
               [title]="item.title"
               [previewUrl]="item.thumbnail"
               [isPrivate]="item.privacy === 'private'"
               [routerLink]="'/video-channel/' + item.id">
    </app-video>
  </div>
  <div class="hidden md:block">
    <button
      class="border-3 border-yellow-300 inline-block w-10 h-10 focus:outline-none flex justify-center items-center">
      <span class="icon-arrow-right text-3xl"></span>
    </button>
  </div>
</div>

<div class="mt-4 md:hidden flex justify-center items-center gap-4">
  <button
    class="border-2 border-yellow-300 inline-block w-10 h-10 focus:outline-none flex justify-center items-center">
    <span class="icon-arrow-left text-2xl"></span>
  </button>

  <button class="border-2 border-yellow-300 inline-block w-10 h-10 focus:outline-none flex justify-center items-center">
    <span class="icon-arrow-right text-2xl"></span>
  </button>
</div>
