.feed-component {
  //margin-top: 5rem;
  position: relative;
  width: 100%;
  & h1 {
    margin-right: 5rem;
    font-size: 3.5rem;
    letter-spacing: 12px;
    line-height: 72px;
    color: #241f20;
    font-family: "Silver South Serif", serif;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2rem;

    &:before {
      content: "";
      border: 2px solid black;
      position: absolute;
      left: -15%;
      bottom: -12px;
      height: 4px;
      width: calc(69vw + 10px);
    }
  }
  .d-flex {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1628px;
  }
  .col-lg-3 {
    margin: 0.5rem;
    width: 25%;
  }
  .search__feed-component {
    position: absolute;
    left: -8rem;
    top: 60%;
    background: #ff82b8;
    transform: rotate(-90deg);
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0px;
      line-height: 28px;
      color: #ffffff;
      font-family: "Gilroy", sans-serif;
    }
  }
  .more {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 10rem;
    button {
      margin: auto;
      border: 2px solid #ff82b8;
      padding: 0.8rem 4rem;
    }
  }
}
