.variables {
  --pink-dark: #ec008c;
  --pink-light: #ff82b8;
  --pink-3: #ffc9e0;
  --pink-4: #fee4e6;

  --yellow-dark: #faf160;
  --yellow-light: #fffa00;

  --red: #FF0000;
  --green: #008000;
}
$textColor: #000000;
$primaryColor: #ff82b8;
$primaryColorLight: rgba(#ff82b8, 0.45);
$secondaryColor: #fffa00;
