<div class="bg-cover bg-center px-10 py-2 relative"
     [style.background-image]="'url(./assets/images/256-TITULKA.png)'"
     [style.height.rem]="75"
     [style.background-position-x.rem]="-8.125">

  <div class="flex flex-col items-center mt-4">
    <img src="./assets/images/ESTY_logo_b_trans_f-01.png">
  </div>

  <div class="text-center inline-block" [style.margin-top.rem]="3.6">
    <div class="font-playfair text-5xl italic text-pink-600 leading-8">
      Your
    </div>

    <div class="font-playfair text-5xl uppercase font-extrabold leading-8">
      BEST <br>
      CHOICES
    </div>

    <div class="font-playfair text-base mt-2">
      Details that <br>
      matters
    </div>
  </div>

  <div class="flex justify-between inline-block" [style.margin-top.rem]="9.5">
    <div class="text-center">
      <div class="font-playfair text-4xl font-bold leading-none">
        PERSONAL <br>
        STYLES
      </div>
      <div class="font-playfair text-base">
        From classic to drama <br> & back
      </div>
    </div>

    <div class="font-playfair text-4xl leading-none text-right">
      <span class="font-bold">Perfect <br>
      FIT</span> Key to <br>
      your body <br>
      shape
    </div>
  </div>

  <div class="inline-block ml-20" [style.margin-top.rem]="5.062">
    <div [style.font-size.rem]="5.625" [style.line-height.rem]="3.6">
      <div class="font-playfair font-bold">WOW</div>
      <div class="font-playfair italic text-pink-600">Factor</div>
    </div>
    <div class="text-2xl leading-none mt-8">
      What it takes <br>
      to be in style
    </div>
  </div>

  <div class="rotate-90 absolute text-base"
       [style.bottom.rem]="-1"
       [style.left.rem]="1">
    SUMMER 2020 <br>
    <a class="underline" href="https://www.estyleshaker.com" target="_blank">www.estyleshaker.com</a>
  </div>
</div>


