<div class="container md:max-w-full">
  <div class="md:ml-16 md:mr-0 mx-8 mb-20 md:mb-64 bg-white relative w-100 newsletter">
    <img class="" src="assets/images/newsletter.jpg" alt="newsletter">
    <div class="md:ml-32 newsletter-container relative">
      <h2 class="p-8 text-center">Newsletter</h2>
      <div class="newsletter-box">
        <h3 class="text-right md:pr-32">
          <span class="block">Sign Up For </span>
          <span class="block">Our Weekly </span>
          <span class="block">Fashon Tips</span>
        </h3>
        <div class="newsletter-input flex">
          <input
            class="appearance-none border-none bg-transparent rounded w-full py-2 px-3 text-black placeholder-bold placeholder-darkPink leading-tight focus:outline-none"
            id="newsletter-email"
            type="email"
            placeholder="Enter your Email addres">
          <button class="flex-none text-darkPink font-bold py-2 px-4 focus:outline-none" type="button">
            Send
            <i class="icon-arrow-right2 text-darkPink"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
