<div class="flex justify-center items-center">
  <ul class="flex list-none text-lg">
    <li class="pb-2 text-pink-400 uppercase tracking-widest font-normal">
      Services:
    </li>
    <li class="px-12 uppercase font-playfair border-r-2 border-pink-300">
      <div class="pb-2 border-b-3 border-pink-300 cursor-pointer" [ngxScrollTo]="'#scroll-free'">Free</div>
    </li>
    <li class="px-12 uppercase font-playfair border-r-2 border-pink-300">
      <div class="pb-2 border-pink-300  cursor-pointer" [ngxScrollTo]="'#scroll-fired-up'">Fired up</div>
    </li>
    <li class="px-12 uppercase font-playfair border-r-2 border-pink-300">
      <div class="pb-2 border-pink-300 cursor-pointer" [ngxScrollTo]="'#scroll-elite'">Elite</div>
    </li>
    <li class="px-12 uppercase font-playfair">
      <div class="pb-2 border-pink-300 cursor-pointer" [ngxScrollTo]="'#scroll-individual-service'">Individual services</div>
    </li>
  </ul>
</div>
