h1 {
  font-size: 6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 13px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: -2.5rem;
  z-index: 1;
  margin-left: 5rem;
}

.image-cut {
  height: 33rem;
  overflow: hidden;
  position: relative;
  & img {
    position: absolute;
    top: -4.8rem;
  }
}


.breadcrumb {
  display: flex;
  & li {
    position: relative;
    color: #959595;
    margin: 2rem 1rem 0 1rem;
    & .active {
      color: #000000;
      &:after {
        content: none;
      }
    }

    & a:after {
      content: '';
      position: absolute;
      border: 3px solid #959595;
      border-radius: 50%;
      top: 35%;
      right: -1.37rem;
      margin-right: 0.25rem;
      cursor: pointer;
    }

  }
}
