<div class="bg-white pb-16">
  <div class="flex items-center">
    <div class="ml-24">
      <img class="" src="./assets/images/2732.png">
    </div>
    <div class="ml-8">
      <div class="text-lg">“Fashion is matter of <br> proportion”</div>
      <div><img src="./assets/images/Coco_Chanel.png" alt=""></div>
    </div>
  </div>

  <div class="bg-pink-400 text-white p-4 pt-24 mr-24" [style.margin-top.rem]="-7">
    <div class="text-6xl font-playfair mx-10" [style.font-size.rem]="6.8">ABOUT</div>

    <div class="flex text-sm">
      <div class="mx-8">
        In the past, after spending too much money on clothes, some of which I rarely wore, I was still unhappy with the
        way the outfits looked. I could see myself standing in front of a mirror saying: “Something doesn’t feel right,
        but I can’t put my finger on it.” <br><br>
        For the past 8 years living in Dubai, as a personal stylist, I’ve been on a mission to show people how to dress
        up, stand out in the crowd and feel self-confident on their way to success. <br><br>
        My name is Lucia Csobonyei and I created estyleshaker for women who feel overwhelmed by their unorganized
        closets
        and stressed out when they go shopping.
      </div>

      <div class="mx-8">
        Every advice and recommendation is based on yearslong trials and errors, styling experience, skills and last but
        not least my clients’ concerns and requirements. <br><br>
        Their outfits speak for themselves because all my clients are true estyleshakers. <br><br>
        Once you explore your guide, our secret styling formulas will make much more sense. To uncover more, dive into
        the
        estyleshaker video channels and become a part of our fashionable family.

        <br><br><br>

        Stylishly yours,

        <img src="./assets/images/_founder_of_estyleshaker.png" alt="">
      </div>
    </div>
  </div>
</div>
