.auth-card {
  &:after {
    left: -2rem;
    top: -2rem;
  }

  a.forgot {
    font-size: 0.9rem;
    color: #ffffff;
  }
}

h1 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}