<div class="flex p-10 pr-0 bg-white">
  <div class="w-1/4 mt-12 text-sm">
    <div class="text-sm font-playfair">#<span class="font-bold">1 Body shape</span></div>
    <div class="mt-4">
      Your body shape and prominent features need to be accentuated. This is why we choose perfectly balanced outfits
      that make you feel good about yourself.
    </div>

    <div class="text-sm font-playfair mt-4">#<span class="font-bold">2 Personality</span></div>
    <div class="mt-4">
      First impression matters. Send a strong message with your outfit choice in the first 3 seconds people lay eyes on
      you.
    </div>

    <div class="text-sm font-playfair mt-4">#<span class="font-bold">3 Colors</span></div>
    <div class="mt-4">
      Incorporate colors to make a fashion statement. Color analysis tells us what color complements your complexion the
      best.
    </div>

    <div class="text-sm font-playfair mt-4">#<span class="font-bold">4 Lifestyle</span></div>
    <div class="mt-4">
      Your lifestyle demands different outfit choices. Our tips will help you get it right every time.
    </div>

    <div class="text-sm font-playfair mt-4">#<span class="font-bold">5 Trends</span></div>
    <div class="mt-4">
      As stated by one and only Coco Chanel, “fashion fades but style remains the same.” What are your style preferences
      and what trend will take your look to the next level?
    </div>

    <div class="text-sm font-playfair mt-4">#<span class="font-bold">6 Comfort</span></div>
    <div class="mt-4">
      Whatever you wear needs to feel right on your body. Remember: If you have a doubt, go without! Comfort is a
      confidence-booster. Match it with our other WOW factors to be an IT girl.
    </div>

  </div>
  <div class="flex-1 ml-8 text-sm font-bold font-playfair leading-loose">
    Your dreams, aspiration, your choices. Everything is connected to your style. <br>
    Let’s uncover the main pillars that help you to realize who you really are.

    <div class="w-full relative">
      <img class="w-full mt-2" src="./assets/images/2765.png">
      <div class="absolute rotate-90 font-playfair font-bold text-white leading-normal"
           [style.bottom.rem]="-15"
           [style.left.rem]=".7"
           [style.font-size.rem]="6.875">
        WOW FACTOR
      </div>
    </div>
  </div>
</div>
