<div>
  <app-page-info title="My Wishlist" image="./assets/images/wish-list/45.png" titlePosition="left"></app-page-info>
</div>

<div class="container my-4 md:my-8">
  <!-- Todo: [list]="items" -->
  <app-breadcrumb></app-breadcrumb>
</div>

<div class="mt-4 md:mt-20">
  <div class="__title font-playfair uppercase inline-block">
    <div class="ml-4 sm:ml-10 md:ml-20 lg:ml-40">Featured collection</div>

    <hr class="border-black border md:border-4 w-full my-4 md:my-8"/>
  </div>
</div>

<div class="container mt-4 md:mt-20">
  <app-product-list></app-product-list>
</div>
