<div class="menu-bg w-full h-full">
  <div class="flex justify-center items-center">
    <img class="w-16 h-16 rounded-full mt-6"
         src="./assets/images/testamonials-image.png"
         alt="Avatar">
  </div>

  <div class="mt-6 text-center font-medium text-sm">
    Lucia Csobonyei
  </div>

  <div class="mt-2 text-center text-sm text-gray-700">
    Free Member
  </div>

  <div class="mt-6">
    <ul class="list-none text-sm text-center pr-2">
      <li class="accent-bg-color">
        <a class="pl-10 pr-2 py-4 block flex justify-start items-center font-medium text-sm" href="#">
          <span class="icon icon-settings mr-3"></span>
          <span>Account Settings</span>
          <span class="ml-4 inline-block rounded-full w-5 h-5 round-bg text-sm flex justify-center items-center">
            19
          </span>
        </a>
      </li>
      <li>
        <a class="pl-10 pr-2 py-4 block flex justify-start items-center font-medium text-sm" href="#">
          <span class="icon icon-eye mr-3"></span>
          <span>My Style Guide</span>
        </a>
      </li>
    </ul>
  </div>
</div>
