<footer>
  <div class="footer-main md:ml-32 p-8 md:p-24 w-100">
    <div class="grid md:grid-cols-3">
      <div class="footer-col md:mb-0 mb-8">
        <h3 class="font-bold mb-1">Explore</h3>
        <ul>
          <li><a class="py-1 block" href="javascript:void(0)">Home</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">About</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Capabilities</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Careers</a></li>
        </ul>
      </div>
      <div class="footer-col md:mb-0 mb-8">
        <h3 class="font-bold mb-1">Legal</h3>
        <ul>
          <li><a class="py-1 block" href="javascript:void(0)">Terms & Conditions</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Privacy Policy</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Cookie Policy</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col md:mb-0 mb-8">
        <h3 class="font-bold mb-1">Experience More</h3>
        <ul>
          <li><a class="py-1 block" href="javascript:void(0)">Style Avenue</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Benefits</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Trending</a></li>
          <li><a class="py-1 block" href="javascript:void(0)">Wishlist</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright md:ml-32 py-8 px-8 md:px-32 flex md:justify-between justify-center md:flex-row items-center flex-col-reverse">
    <p>Copyright © eStyleShaker All Rights Reserved</p>
    <div class="footer-social md:mb-0 mb-8">
      <a class="p-2 md:m-1 m-2" href="https://www.facebook.com" target="_blank"><i class="icon-facebook"></i></a>
      <a class="p-2 md:m-1 m-2" href="https://www.instagram.com/" target="_blank"><i class="icon-instagram"></i></a>
      <a class="p-2 md:m-1 m-2" href="https://www.twitter.com/" target="_blank"><i class="icon-twitter"></i></a>
    </div>
  </div>
</footer>