.title {
  font-size: 6.875rem;
}

/*@media (max-width: 768px) {
  .title {
    font-size: 4rem;
    letter-spacing: 4px;
  }

!*  .title-block {
    margin-bottom: -1.4rem;
  }

  .text-divider-block {
    width: calc(100vw - 2rem);

    bottom: -1rem;
  }

  .text-divider-text {
    font-size: 1.34rem;
    line-height: 1.7rem;
  }

  .back-button {
    letter-spacing: 0.1rem;
  }*!
}*/
