<div class="category">

 <div class="category-main">

   <img
     src="assets/images/tamara-bellis-68csPWTnafo-unsplash.png"
     alt="category-img">

   <div class="title-category">
     <h1>create your outfit</h1>
     <h3>loreum ipsum</h3>
   </div>

   <div class="about-category">
     <button class="text-black button-top__about-category font-bold py-3 px-6 bg-yellow focus:outline-none">Let us style you</button>
     <p class="about-text">
       Check out the video to see how Estyleshaker can brighten your fashion life & spice up your wardrobe.
       Estyleshaker will help you change your attitude towards shopping and choose the right clothes that
       you will not only look your best in, but feel confident and empowered.
       Slowly but surely, we’ll reveal fashion secrets curated especially for you make friends with.
     </p>
     <div class="button-group">
       <button (click)="toClotherBuilder()" class="text-black font-bold py-3 px-1 bg-white focus:outline-none"><a href="/clothes-builder">create outfit</a></button>
       <button (click)="toProfile()" class="text-black font-bold py-3 px-1 bg-white focus:outline-none">profile</button>
       <button (click)="toVirtualWardrobe()" class="text-black font-bold py-3 px-1 bg-white focus:outline-none"><a href="/virtual-wardrobe">virtual wardrobe</a></button>
     </div>
   </div>

 </div>

</div>
