.title {
  font-size: 6.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 15.4px;
  color: #000000;
  text-transform: uppercase;
  line-height: 1;
  z-index: 1;
}

.title-description {

}

.title-block {
  margin-bottom: -5rem;
}

.text-divider-block {
  width: 50vw;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
    letter-spacing: 4px;
  }

  .title-block {
    margin-bottom: -1.4rem;
  }

  .text-divider-block {
    width: calc(100vw - 2rem);

    bottom: -3rem;
  }

  .text-divider-text {
    font-size: 1.34rem;
    line-height: 1.7rem;
  }

  .back-button {
    letter-spacing: 0.1rem;
  }
}
