<div class="bg-white h-full relative">
  <div class="py-4 px-12 relative z-10">
    <div class="flex h-full">
      <div class="mt-16">
        <div class="flex flex-col items-center justify-center">
          <div class="border-l-4 border-pink-300 mb-10 h-24"></div>
          <div class="border-l-4 border-pink-300 mb-10 h-32"></div>
          <div class="border-l-4 border-pink-300 h-56 mb-10"></div>
        </div>
      </div>
      <div>
        <div class="ml-4">
          <img class="w-2/2" src="./assets/images/ESTY_logo_b_trans_f-01.png">
        </div>

        <div class="grid grid-cols-2 ml-8 gap-16">
          <div>
            <img class="w-full" src="./assets/images/2595.png" alt="">
          </div>

          <div>
            <div class="text-5xl uppercase text-center" [style.margin-top.rem]="-0.8">Guide</div>

            <div class="text-sm mt-4">
              Lorem ipsum dolor sit amet, nisl ultrices tortor egestas volutpat faucibus id. Massa auctor quisque tempor
              porttitor
              quam. Et mollis maecenas feugiat amet, viverra erat et semper vestibulum, maecenas consectetuer quis nec,
              nec
              turpis
              nunc pellentesque quis. Feugiat vestibulum urna at. Taciti
            </div>

            <div class="mt-12 text-sm">
              malesuada luctus. Erat cras nec sit lacinia ultrices augue, beatae quis sapien aliquam, vestibulum ipsum
              luctus
              magna
              faucibus, congue nam vitae nonummy duis nec, accumsan libero aenean et lacus et arcu. Ac lacus, a mi
              curabitur,
              quisque enim ligula lectus.
            </div>

            <div class="mt-12 font-playfair font-bold text-base">NEXT ISUUE</div>

            <div class="mt-6 text-sm">
              luctus magna faucibus, congue nam vitae nonummy duis nec, accumsan libero aenean et lacus et arcu. Ac
              lacus, a mi curabitur, quisque enim ligula lectus.
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center text-center">
          <div class="font-bold text-base uppercase font-playfair">Contacts</div>
          <div class="text-sm mt-4">
            Lucia Csobonyei <br>
            E-mail: info@estyleshaker.com <br>
            Phone: (+420) 123 456 789 <br>
            <a class="underline mt-2" href="http://www.estyleshaker.com" target="_blank">www.estyleshaker.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute rotate-90 z-10 text-base" [style.left.rem]="1.6" [style.bottom.rem]="1">© 2020 eStyleShaker Guide</div>

  <div class="absolute w-full bg-pink-300 bottom-0" [style.height.rem]="40"></div>
</div>
